div{
    width: 10%;
    height: 10%;
    background-color: lightblue;
    
    margin-top: 10%;
    border-radius: 5px;
    padding: 50px;
    margin: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    

}

body{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}